{% extends 'admin/admin.html.twig' %}

{% block adminbody %}
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5">
        {% for article in articlesReserved %}
            {{ include('components/article-reservation.html.twig', {article: article, admin: true}) }}
        {% endfor %}
    </div>
{% endblock %}
